/* body {
  font-family: 'Mali', cursive;
} */

.font-mili {
  font-family: 'Mali', cursive;
}
.font-itim {
  font-family: 'Itim', cursive;
}
.font-sara {
  font-family: 'Sarabun', sans-serif;
}
.font-trav {
  font-family: 'Taviraj', serif;
}
